@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color:#360369;
}
.landing-page{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    color: #fff;
}
.landing-page>h1{
    font-size: 60px;
    font-weight: 700;
}
#fetch-btn{
    padding: 10px;
    width: 240px;
    font-size: 24px;
    background: #fff;
    border: none;
    border-radius: 5px;
} 
#fetch-btn:hover{

    background-color: grey;
}
.weather-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:30px;
    height: 100%;
}
.top{
    width:100vw;
    height:100vh;
    color: #fff;
    background-color:#360369;
    display: flex;
    flex-direction: column;
    /* flex-wrap:wrap; */
    padding:20px;
    padding-left: 40px;
    gap:10px;
    align-items: flex-start;
    /* margin-bottom: 100px; */
}
.top>h1{
     font-size: 54px;
}
.top>p{
    font-size: 30px;
    color:darkgray;
}
.top>div{
    margin-top: 20px;
}
.map-container{
    margin-top: 30px;
    width: 90vw;
    height: 400px;
}
span{
    border-radius: 10px;
    background: #270846;
    padding:10px 20px;
    border:none;
    font-size: 30px;
    margin:10px;
}
.bottom{
     
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:20px;
  margin-top: 100px;
  padding:30px;
  background-color: #fff;
  width:100%;
}
.bottom>h1{
    color:#360369;
    font-size: 54px;
    font-weight: 700;
}
.bottom>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    color: #fff;
}
@media screen and (max-width:500) {

.top>h1{
     font-size: 24px;
}
.top>p{
    font-size: 18px;
    color:darkgray;
}
span{
    font-size: 18px;

}
.bottom>h1{
    color:#360369;
    font-size: 24px;
    font-weight: 700;
}
.weather-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding:5px; */
}
}
@media screen and (max-width:900) and(min-width:500){

    .top>h1{
         font-size: 36px;
    }
    .top>p{
        font-size: 18px;
        color:darkgray;
    }
    span{
        font-size:18px;
    
    }
    .bottom>h1{
        color:#360369;
        font-size: 36px;
        font-weight: 700;
    }
    .weather-data{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding:5px; */
    }
    }